<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Naissance des hommes</name>

<description>
Comment les hommes sont venus sur la terre et ce qui leur est arrivé
</description>

<author href="https://example.com" email="you@example.com">
Your Name
</author>
<preference name="orientation" value="landscape" />
	<icon src="icon.png" />
	<gap:splash src="splash.png" />
</widget>
