<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>La naissance des hommes</name>

<description>
Comment les êtres humains sont venus sur Terre et ce qui leur est arrivé
</description>

<author href="http://www.oracle-editions.com/" email="fvermorel@gmail.com">
      Oracle Editions
    </author>
	<preference name="orientation" value="landscape" />
	<icon src="icon.png" />
	<gap:splash src="splash.png" />

</widget>

